.common {
  position: absolute;
  transform-origin: top center;
  user-select: none;
  top: 0;
  perspective: "4000px";
  perspective-origin: "50% 50%";
  transform-style: "preserve-3d" as "preserve-3d";
}
